<p>
    The Reef Authority is committed to continuing to evolve its operations to support its people. We continue to embrace agile ways of working so we are well equipped to manage an increasingly complex reef environment.
</p>
<p>
    The Reef Authority continues to invest in its people and the tools they need to enable them to perform at their best. Improvements to technology and processes are front and centre of corporate priorities as is the investment in developing capabilities in key areas such as project management, digital services, and leadership. Alongside this, significant work continues on embedding the our culture. There are four pillars that underpin our culture:
</p>
<ul>
    <li>
        We are one <a href="https://www2.gbrmpa.gov.au/">GBRMPA</a>
    </li>
    <li>
        We strive for excellence
    </li>
    <li>
        We are professional
    </li>
    <li>
        We deliver.&nbsp;
    </li>
</ul>
<p>
    This year, a Culture Champions network was created, which is a group of internal champions who are passionate about positive change in the workplace and working with other staff to further embed our culture. Using the Reef Authority journey map and visualisation workshops, our leadership group continues to support staff through the agency’s transformation journey. These combined initiatives will support us to connect across the agency and deliver on our shared purpose.
</p>
<p>
    <em>Table 8: Summary of performance results against Program area 4</em>
</p>
<h2>
    Corporate result 4.1: Operational excellence&nbsp;
</h2>
<p>
    The following strategies and activities support corporate result 4.1: Our resources are applied judiciously. These are in place to support the organisation undertaking of program areas 1 to 3.&nbsp;
</p>
<h3>
    Information management maturity&nbsp;
</h3>
<p>
    <a href="https://www.naa.gov.a/">The National Archive of Australia</a> has a national scoring system, Check-up PLUS, that measures the maturity of organisations’ information management. It measures governance, creativity, interoperability, storage, disposal and digital operation. The Reef Authority has improved, with a score of 2.79 in 2021–22 compared with 2.69 in 2019–20.&nbsp;
</p>
<p>
    We have embarked on a digital transformation journey through 2021–22 and will continue towards digitisation and disposal of physical records. We expect further improvement in our information management maturity with the next Check-up PLUS scheduled in the second quarter 2022.&nbsp;
</p>
<h3>
    Indigenous enterprise procurement&nbsp;
</h3>
<p>
    As part of the opportunities identified under the Reef Authority’s Reconciliation Action Plan, the Reef Authority has promoted the understanding of the Commonwealth’s intent to maximise procurement activities through Aboriginal and Torres Strait Islander suppliers. During the 2021–22 reporting period, five per cent (almost $4 million) of procurement spend for goods and services for the Reef Authority came from eligible Indigenous enterprises. This is in line with the Commonwealth Indigenous Procurement Policy. Education and awareness have been strengthened to ensure Indigenous procurement opportunities are maximised.&nbsp;
</p>
<h3>
    Training staff and development&nbsp;
</h3>
<p>
    The number of courses offered in 2021–22 was higher than in 2020–21. There were 25 nonmandatory training sessions made available to staff during 2021–22, with three being fully subscribed. Non-mandatory courses are centrally funded and facilitated that target agency priorities. The courses offered included chief fire warden, coaching skills for leaders, presentation skills, giving and receiving feedback, first aid, mental health first aid and other role-specific health and safety training.&nbsp;
</p>
<p>
    In 2021–22, we expanded Aboriginal and Torres Strait Islander cultural training to include cultural competency training. This e-learning opportunity was accessible to all staff to build their cultural knowledge and apply it in practical and structured ways. This assessment-based program provided 43 participants with an increased understanding into Aboriginal and Torres Strait Islander history, cultures and kinship systems, worldviews, and connection to Country. &nbsp;
</p>
<h3>
    Enhancing digital tools and platforms&nbsp;
</h3>
<p>
    Significant progress has been made across various initiatives including the migration to modern cloud-based tools and platforms such as <a href="https://icrosoft.com/en-au/microsoft-teams/log-in">Microsoft Teams</a> and the Microsoft Office 365 suite of products. These initiatives will continue with the aim of stabilising digital services and improving the user experience. Critical to the next phase of this work, these services will be a strategic review of opportunities to improve the end-user experience. Management reporting has been improved through the use of Power Bi Reporting. This project is continuing in conjunction with the upgrade to the finance software that will provide further functionality and reporting capabilities.&nbsp;
</p>
<h2>
    Corporate result 4.2: Delivery excellence&nbsp;
</h2>
<h3>
    Resources and systems to support staff&nbsp;
</h3>
<p>
    The Reef Authority is implementing a more consistent approach to the way we work, using the ‘Agile’ methodology. It incorporates new work practices and digital tools to manage operational and project work. The Agile approach focuses on how the Reef Authority can better collaborate with partners, increase working output, respond to change and empower our teams. We have made significant progress. For example, a common digital work planning tool has improved the transparency of work, improving awareness, efficiency and collaboration. We will further embed the Agile approach across the Reef Authority in 2022–23.&nbsp;
</p>